@import url("../fonts.css");

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  max-width: 75vmin; /* Limit width */
  width: 90%; /* Default width */
  height: auto; /* Allow height to adjust based on content */
}

.about-title {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
  color: #333;
  text-align: left;
  margin-bottom: 1rem;
}

.about-description {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  color: #666;
  text-align: left;
}

.red {
  color: #a91d3a;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .about-container {
    width: 100%; /* Full width for smaller screens */
    padding: 0 20px; /* Add some horizontal padding */
  }

  .about-title {
    font-size: 2.5rem; /* Decrease font size for smaller screens */
  }

  .about-description {
    font-size: 1rem; /* Decrease font size for smaller screens */
  }
}
