@import url("../fonts.css");

.about-container {
  position: absolute;
  top: 100%;
  left: 50%; /* Center horizontally */
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 70vmin; /* Limit width */
  width: 90%; /* Default width */
  height: auto; /* Allow height to adjust based on content */
}

/* Optional: Add media query for smaller screens */
@media screen and (max-width: 768px) {
  .about-container {
    width: 95%; /* Adjust width for smaller screens */
  }
}

.about-title {
  font-family: "Satoshi", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 1rem;
}

.about-description {
  font-family: "Satoshi", sans-serif;
  font-size: 1.2rem;
  color: #666;
  text-align: left;
}

.red {
  color: #a91d3a;
}
