.footer {
  position: absolute;
  top: calc(
    275%
  ); /* Position the top of the container below the hello-container */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 20vmin;
  width: 70vmin;
}
